/* Estilos base */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 36px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    justify-content: space-between;

}

.header-content {
    display: flex;
    align-items: left;
}

.titulo {
    display: flex;
    flex-direction: column;
}

.titulo h1 {
    font-size: 40px;
    margin: 0;
}

.titulo p {
    font-size: 20px;
    margin: 0;
}
nav {
    display: flex;
    margin-top: 0;
    position: absolute;
    right: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Exibe os itens de menu horizontalmente */
    justify-content: flex-end; /* Alinha os itens de menu à direita */
}


nav ul li {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 30px;
    text-align: right;
}



nav a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}


section {
    background-color: #fff;
    padding: 30px; /* Reduza o espaço interno para o conteúdo em telas menores */
}


@media (max-width: 720px) {
    section {
        padding: 10px /* Reduza ainda mais o espaço interno em telas menores, se necessário */
    }
}

@media screen and (max-width: 720px) {
    .titulo h1 {
        font-size: 30px;
    }

    .titulo p {
        font-size: 15px;
    }

    nav a {
        font-size: 10px;
    }
}

@media (max-width: 720px) {
    header {
        flex-direction: column;
        text-align:left;
    }

    section {
        padding: 10px;
    }

    body {
        font-size: 14px;
    }

    .titulo {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    }
    nav {
        margin-top: 40px; /* Espaçamento entre o título e o nav */
        flex-direction: inherit;
    
    }

    nav a{
        font-size: 10px;
    }
}

/* Outras modificações específicas para telas menores podem ser adicionadas aqui */
#profissionais {
    text-align: center;
}


.espaçamento {
    margin-top: 20px; /* Reduza o espaço superior em telas menores */
    margin-bottom: 20px; /* Reduza o espaço inferior em telas menores */
}


.servicos {
    margin-bottom: 40px; /* Reduza o espaço inferior em telas menores */
}


/* Estilos para telas menores, como smartphones */
@media (max-width: 720px) {
    #profissionais {
        margin-top: 20px; /* Ajuste a margem superior */
        margin-bottom: 20px; /* Ajuste a margem inferior */
    }


    .espaçamento {
        margin-top: 10px; /* Ajuste a margem superior em telas menores */
        margin-bottom: 10px; /* Ajuste a margem inferior em telas menores */
    }


    .servicos {
        margin-bottom: 20px; /* Ajuste a margem inferior em telas menores */
    }
}
/* Modificações para tornar o layout mais responsivo */


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px; /* Reduza o espaço acima da div em telas menores */
    margin-bottom: 20px; /* Reduza o espaço abaixo da div em telas menores */
  }


.box {
    width: 90%; /* Usando porcentagem para a largura para torná-la responsiva */
    max-width: 350px; /* Limitando a largura máxima */
    margin: 2%; /* Usando porcentagem para o espaçamento entre as divs */
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-bottom: 30px; /* Reduzindo a margem inferior */
    box-shadow: 5px 5px 10px #888;
}


.box:hover {
    transform: scale(1.1); /* Aumentando a escala para 110% do tamanho original no hover */
    cursor: pointer;
}


/* Ajuste para dispositivos menores, como tablets e telefones */
@media (max-width: 720px) {
    .box {
        width: 100%; /* A largura de 100% permite que as caixas ocupem toda a largura da tela */
        max-width: none; /* Removendo a largura máxima */
        margin: 4% 4%; /* Espaçamento superior e inferior em dispositivos menores */
    }
}




.dentistas {
    width: 100%; /* Use largura de 100% para preencher a largura da tela em telas menores */
    max-width: 400px; /* Defina uma largura máxima para evitar que as caixas fiquem muito largas em telas maiores */
    margin: 150px; /* Usando porcentagem para o espaçamento entre as caixas */
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px #888;
    margin-bottom: 20px; /* Reduza a margem inferior em telas menores */
    margin-top: 20px; /* Reduza a margem superior em telas menores */




/* Ajuste para dispositivos menores, como tablets e telefones */
@media (max-width: 720px) {
        max-width: 90%; /* Reduza a largura máxima para acomodar telas menores */
        margin: 2% 5%; /* Ajuste o espaçamento lateral em dispositivos menores */
    }
}




.atender {
    width: 98,999%; /* Use largura de 100% para preencher a largura da tela em telas menores */
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px; /* Reduza a margem inferior em telas menores */
}


.centro {
    width: 100%; /* Use largura de 100% para preencher a largura da tela em telas menores */
    max-width: 1300px; /* Defina uma largura máxima para evitar que o conteúdo fique muito largo em telas maiores */
    margin: 2% auto; /* Ajuste o espaçamento e centralize horizontalmente */
    padding: 10px;
    text-align: center;
    margin-bottom: 20px; /* Reduza a margem inferior em telas menores */
    margin-top: 20px; /* Reduza a margem superior em telas menores */


    /* Ajuste para dispositivos menores, como tablets e telefones */
    @media (max-width: 720px) {
        max-width: 90%; /* Reduza a largura máxima para acomodar telas menores */
        margin: 2% auto; /* Ajuste o espaçamento e centralize horizontalmente */
    }
}




.meio {
    text-align: center;
    margin-top: 70px; /* Reduza a margem superior para dispositivos menores */
    margin-bottom: 50px; /* Reduza a margem inferior para dispositivos menores */
    position: relative;
    z-index: 1;
}


.meio h1 {
    font-size: 36px; /* Reduza o tamanho da fonte para dispositivos menores */
    color: #fff;
}


.meio h2 {
    font-size: 24px; /* Reduza o tamanho da fonte para dispositivos menores */
    color: #fff;
}


@media (min-width: 720px) {
    /* Aplique estilos apenas para dispositivos com largura mínima de 768px (PC) */
    .meio {
      text-align: center;
      margin-top:250px; /* Ajuste a margem superior para dispositivos maiores, se necessário */
      margin-bottom: 100px; /* Ajuste a margem inferior para dispositivos maiores, se necessário */
      position: relative;
      z-index: 1;
      display: block; /* Defina a exibição como bloco para centralizar o conteúdo */
      margin-left: auto; /* Alinhe à direita para centralizar horizontalmente */
      margin-right: auto; /* Alinhe à esquerda para centralizar horizontalmente */
    }
 
    .meio h1 {
      font-size: 70px;
      color: #fff;
    }
 
    .meio h2 {
      font-size: 50px;
      color: #fff;
    }
  }

.boxi {
    width: 90%; /* Usando porcentagem para a largura para torná-la responsiva */
    max-width: 350px; /* Limitando a largura máxima */
    margin: 2%; /* Usando porcentagem para o espaçamento entre as divs */
    background-color: #3498db;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-bottom: 30px; /* Reduzindo a margem inferior */
    box-shadow: 5px 5px 10px #3498db;
}


.boxi:hover {
    transform: scale(1.1); /* Aumentando a escala para 110% do tamanho original no hover */
    cursor: pointer;
}


/* Ajuste para dispositivos menores, como tablets e telefones */
@media (max-width: 720px) {
    .boxi {
        width: 100%; /* A largura de 100% permite que as caixas ocupem toda a largura da tela */
        max-width: none; /* Removendo a largura máxima */
        margin: 4% 4%; /* Espaçamento superior e inferior em dispositivos menores */
    }
}
 
  .caixa {
    width: 90%; /* Usando porcentagem para a largura para torná-la responsiva */
    max-width: 350px; /* Limitando a largura máxima */
    margin: 2%; /* Usando porcentagem para o espaçamento entre as divs */
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-bottom: 30px; /* Reduzindo a margem inferior */
}

/* Ajuste para dispositivos menores, como tablets e telefones */
@media (max-width: 720px) {
    .caixa {
        width:0; /* A largura de 100% permite que as caixas ocupem toda a largura da tela */
        max-width: 0; /* Removendo a largura máxima */
        margin:0; /* Espaçamento superior e inferior em dispositivos menores */
        height:0;
    }
}

  .linha {
    border-top: 2px solid #3498db;
    width: 60%; /* Ajusta a largura para ocupar 60% da largura da tela */
    margin: 20px auto; /* Centraliza a linha horizontalmente e ajusta a margem */
}


.linhacont {
    border-top: 2px solid #3498db;
    width: 100%; /* Ajusta a largura para ocupar 100% da largura da tela */
    margin: 20px auto; /* Centraliza a linha horizontalmente e ajusta a margem */
}


button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    transition: transform 0.3s ease;
    margin: 10px auto; /* Centralize o botão horizontalmente e ajuste a margem */
}


button:hover {
    transform: scale(1.2);
    cursor: pointer;
}




/* Adaptações específicas para telas menores podem ser adicionadas conforme necessário */
img {
    max-width: 100%; /* Defina a largura máxima como 100% para que a imagem se ajuste automaticamente à largura da tela */
    height: auto; /* Mantém a proporção original da imagem */
}


.whats {
    width: 1vw; /* Ajuste o tamanho em relação à largura da tela */
    height: 1vw; /* Mantenha a mesma altura para manter a proporção */


    /* Adicione um tamanho mínimo para evitar que a imagem fique muito pequena em telas grandes */
    min-width: 15px; /* Tamanho mínimo em pixels para telas maiores */
    min-height: 13px; /* Tamanho mínimo em pixels para telas maiores */
}


.logo {
    width: 5vw; /* Ajuste o tamanho em relação à largura da tela */
    height: 4vw; /* Mantenha a mesma altura para manter a proporção e permita o redimensionamento automático */

    /* Adicione um tamanho mínimo para evitar que a imagem fique muito pequena em telas grandes */
    min-width: 50px; /* Tamanho mínimo em pixels para telas maiores */
    min-height: 50px; /* Mantenha a mesma altura mínima */
}


.paralaxe {
    width: 100%;
    height: 100vh;
    perspective: 1px;
    perspective-origin: 0 0;
    overflow: hidden;
}


.imagem {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    animation: moverCamada1 10s linear infinite; /* Mantenha a animação aqui */
    margin: 0;
    padding: 0;
}


.imagem::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor de fundo com opacidade */
}


/* Ajuste as imagens de fundo para diferentes tamanhos de tela */
#imagem1 {
    background-image: url("https://storage.googleapis.com/catalogo-mais-odonto.appspot.com/sou-odonto/blogImages/instumentais-odontologicos-conheca-os-principais-e-suas-funces.png");
    z-index: 1;
}


#imagem2 {
    background-image: url("https://koppimplantes.com.br/wp-content/uploads/2019/11/dentist-114266_1920-e1573195493802.jpg");
    z-index: 1;
}


#imagem3 {
    background-image: url("https://static.vakinha.com.br/uploads/vakinha/image/497396/Captura_de_Tela_2016-09-09_a_s_18.19.46.png?ims=700x410");
    z-index: 1;
}




/* Ajuste o efeito de paralaxe para dispositivos menores */
@media (max-width: 720px) {
    .paralaxe {
        height: 100vh; /* Reduza a altura para evitar rolagem em dispositivos menores */
    }


    .imagem {
        animation: none; /* Remova a animação em dispositivos menores */
    }
}


@keyframes moverimagem1 {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(0, 0, 20px); } /* Reduza o valor da transformação para um movimento de fundo mais suave */
}


@keyframes moverimagem2 {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(0, 0, 40px); } /* Reduza o valor da transformação para um movimento de fundo mais suave */
}

/* Estilos para a seção de contato */
/* Estilos base que se aplicam a todas as telas */
.map-container {
    width: 100%;
    max-width: 400px;
    margin: 2%; /* Usando porcentagem para o espaçamento entre as caixas */
    border: 1px solid #fff;
    background-color: #ffffff;
    padding: 10px;
    text-align: inherit;
    margin-bottom: 20px;
    margin-top: 20px;
}

address {
    font-size: 24px;
}

.endereço {
    margin-top: 50px;
}

/* Estilos adicionais para telas maiores que 768px de largura */
@media (min-width: 720px) {
    .map-container {
        margin: 0.2%;
    }
}

/* Estilos adicionais para telas maiores que 1200px de largura */
@media (min-width: 1200px) {
    .map-container {
        margin: 0.5%;
    }
    address {
        font-size: 20px;
    }
    .endereço {
        margin-top: 60px;
    }
}


footer {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    font-size: 14px; /* Reduza o tamanho da fonte do rodapé para dispositivos menores */
}

